<!DOCTYPE html>
<html>
    <head>
        <title>TransparencyOntology</title>

        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
        <script src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <!--  
Stylesheets and Preprocessors
==============================

You can always bring in CSS files manually with `<link>` tags, or asynchronously
using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
of Sails' conventional asset pipeline (boilerplate Gruntfile).

By default, stylesheets from your `assets/styles` folder are included
here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
are supported. In production, your styles will be minified and concatenated into
a single file.

To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
For example, here are a few things you could do:

+ Change the order of your CSS files
+ Import stylesheets from other directories
+ Use a different or additional preprocessor, like SASS, SCSS or Stylus
-->

        <!--STYLES-->
        <link rel="stylesheet" href="/styles/custom.css">
        <link rel="stylesheet" href="/styles/importer.css">
        <link rel="stylesheet" href="/styles/layout.css">
        <!--STYLES END-->
    </head>

    <body>
        <header>
            <h1 id='title'>TransparencyOntology                
                <img src="https://www.drupal.org/files/issues/demo_stamp.gif" style="z-index: -1">
            </h1>
        </header>


        <!-------------------------------------------------------------------->
        <!-------------------------------------------------------------------->


        <div class="col-md-10 col-md-offset-1">
            <div class="card hovercard">
                <div class="card-info"> <span class="card-title"  style="z-index: 1">Câmara Municipal de Coimbra</span></div>
            </div>
            <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <button type="button" id="perfil" class="btn btn-default" data-toggle="tab"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                        <div class="hidden-xs">Perfil</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="contratacao" class="btn btn-default" data-toggle="tab"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                        <div class="hidden-xs">Contratação</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="investimento" class="btn btn-default pubonly" data-toggle="tab"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                        <div class="hidden-xs">Investimento</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="receita" class="btn btn-default pubonly" data-toggle="tab"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                        <div class="hidden-xs">Receita</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="despesa" class="btn btn-default pubonly" data-toggle="tab"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                        <div class="hidden-xs">Despesa</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="endividamento" class="btn btn-default" data-toggle="tab"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                        <div class="hidden-xs">Endividamento</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="patrimonio" class="btn btn-default pubonly" data-toggle="tab"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                        <div class="hidden-xs">Património</div>
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" id="litigios" class="btn btn-default" data-toggle="tab"><span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                        <div class="hidden-xs">Litígios Judiciais</div>
                    </button>
                </div>
            </div>

            <div class="well">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1">
                        <%- body %>
                    </div>
                </div>
            </div>

        </div>


        <script>
            $('#title').click(function(){
                window.location= '/';
            });

            var nome = "<%= entidade.nome %>";    
            
            $( document ).ready(function(){
                if('<%= entidade.tipo%>' != 'publica'){
                   $('.pubonly').addClass('disabled');
                }
                $( ".disabled" ).off();
            }); 

            $("#perfil").click(function(e){ 
                window.location= '/entidade/' + nome;
            });

            $("#contratacao").click(function(e){ 
                window.location= '/contrato/' + nome;
            });
            
             $("#investimento").click(function(e){ 
                window.location= '/investimento/' + nome;
            });
            
             $("#receita").click(function(e){ 
                window.location= '/receita/' + nome;
            });

             $("#despesa").click(function(e){ 
                window.location= '/despesa/' + nome;
            });
            
             $("#endividamento").click(function(e){ 
                window.location= '/endividamento/' + nome;
            });
            
             $("#patrimonio").click(function(e){ 
                window.location= '/patrimonio/' + nome;
            });
            
            $("#litigios").click(function(e){ 
                window.location= '/litigio/' + nome;
            });

        </script>

        <!--SCRIPTS-->
        <script src="/js/dependencies/sails.io.js"></script>
        <!--SCRIPTS END-->
    </body>
</html>
