<div class="container-fluid entidade">

    <div class="jumbotron" id="avenca">
        <h1>Avença</h1>
        <p class="lead">
            Uma avença é uma modalidade de contrato de prestação de serviços entre uma entidade (contratante) e um indivíduo (avençado), que tem como objeto prestações sucessivas no exercício de profissão liberal, com retribuição certa mensal, podendo cessar em qualquer altura, por qualquer das partes.</p>

        <p><em>fonte: definição adaptada de da Lei 12A-2008, artigo 35.º, âmbito dos contratos de prestação de serviços, http://dre.pt/pdf1s/2008/02/04101/0000200027.pdf</em>
        </p>
    </div>

    <div class="jumbotron" id="bemovel">
        <h1>Bem móvel</h1>
        <p class="lead">
            Um contrato de aquisição de um bem móvel é o ato pelo qual uma entidade pública (comprador) adquire um bem móvel a uma outra entidade pública / privada ou indivíduo (vendedor).<p>

        <p><em>fonte: adaptada do Código dos Contratos Públicos, art. 437.º e de http://www.igf.min-financas.pt/leggeraldocs/DL_018_2008_CODIGO_CONTRATOS_PUB_INDICE.htm</em>
        </p>
    </div>

    <div class="jumbotron" id="cont_empreitada">
        <h1>Empreitada</h1>
        <p class="lead">
            Um contrato de empreitada é um ato oneroso que se estabelece entre uma entidade pública (adjudicante) e uma entidade privada (adjudicatária) e que tenha por objeto quer a execução quer, conjuntamente, a conceção e a execução de uma obra pública que se enquadre nas subcategorias previstas no regime de ingresso e permanência na atividade da construção.</p>


        <p><em>fonte: adaptada do Código dos Contratos Públicos, art. 343.º e de http://www.igf.min-financas.pt/leggeraldocs/DL_018_2008_CODIGO_CONTRATOS_PUB_INDICE.htm</em>
        </p>
    </div>

    <div class="jumbotron" id="servico">
        <h1>Serviço</h1>
        <p class="lead">
            Uma contratação de serviço é o ato pelo qual uma entidade pública (adjudicante) adquire a prestação de um ou vários tipos de serviços a outra Entidade Pública/ Entidade Privada / indivíduo (adjudicatário) mediante o pagamento de um preço.</p>


        <p><em>fonte: adaptada do Código dos Contratos Públicos, artigo 450º e de http://www.igf.min-financas.pt/leggeraldocs/DL_018_2008_CODIGO_CONTRATOS_PUB_INDICE.htm</em>
        </p>
    </div>

    <!----------->

    <div class="jumbotron" id="bemmovel">
        <h1>Bem Móvel</h1>
        <p class="lead">
            Um investimento em bem móvel refere-se ao valor total investido em determinado tipo de bens móveis - todos aqueles que não são considerados bens imóveis (ex: automóveis)
        </p>
    </div>
    <div class="jumbotron" id="ppp">
        <h1>PPP</h1>
        <p class="lead">
            Uma parceria público-privada (PPP) é um contrato ou a união de contratos, por via dos quais entidades privadas, designadas por parceiros privados, se obrigam, de forma duradoura, perante um parceiro público, a assegurar o desenvolvimento de uma atividade tendente à satisfação de uma necessidade coletiva, e em que o financiamento e a responsabilidade pelo investimento e pela exploração incumbem, no todo ou em parte, ao parceiro privado.</p>


        <p><em>fonte: definição adaptada do Decreto-Lei nº 86/2003, artigo 2.º, n.º1, http://dre.pt/pdf1s/2003/04/097A00/26822686.pdf
            http://eurovoc.europa.eu/7934</em>
        </p>
    </div>
    <div class="jumbotron" id="partsoc">
        <h1>Participação Social</h1>
        <p class="lead">
            Uma participação social é parte de capital que uma Entidade Pública (participante) detém numa outra entidade, pública ou privada (participada), podendo ser associada, conjuntamente detida ou apenas participada.
        </p>
    </div>
    <div class="jumbotron" id="imposto">
        <h1>Imposto</h1>
        <p class="lead">
            Um imposto recebido é uma prestação pecuniária requerida aos particulares por via autoritária, a título definitivo e sem contrapartida (a obrigação de pagar é unilateral e não implica qualquer contraprestação por parte dos poderes públicos), com vista à cobertura dos encargos públicos. Podem ser subdivididos entre os incidem sobre o Património e os que incidem sobre a atividade produtiva. * Para efeitos da ontologia consideram-se valores globais.</p>


        <p><em>fonte: definição adaptada do livro Finanças e Contabilidade Autárquica, CEFA, 2003</em>
        </p>
    </div>
    <div class="jumbotron" id="subsidiorec">
        <h1>Subsídio Recebido</h1>
        <p class="lead">
            Uum subsídio constitui uma forma de apoio monetário, sem contrapartida direta, atribuído por uma entidade pública (pagador) a uma outra entidade pública (recetor),que é geralmente utilizada para um fim específico.</p>


        <p><em>fonte: definição adaptada de do Glossário da DGO, http://www.dgo.pt/execucaoorcamental/Documents/SEO_SinteseExecucaoOrcamentalMensal/GlossarioPT.pdf; dicionário Priberam, http://www.priberam.pt/dlpo/SUBSIDIO ; Decreto-Lei n.º 167/2008</em>
        </p>
    </div>
    <div class="jumbotron" id="tarifa">
        <h1>Tarifa</h1>
        <p class="lead">
            Uma tarifa recebida é uma prestação pecuniária imposta pelas Entidades Públicas (recetor) àqueles que dão origem ao funcionamento de um serviço público ou àqueles a quem a prestação do serviço se dirige. Distingue-se de taxa, dado que, implicando também contrapartida, existe relação entre o custo do serviço/bem e o valor que é cobrado. São exemplos de tarifas as atividades de exploração de sistemas públicos de transportes coletivos de pessoas e mercadorias, de distribuição de água, etc. * Para efeitos da ontologia consideram-se valores globais.</p>


        <p><em>fonte: definição adaptada do livro Finanças e Contabilidade Autárquica, CEFA, 2003</em>
        </p>
    </div>
    <div class="jumbotron" id="taxa">
        <h1>Taxa</h1>
        <p class="lead">
            Uma taxa recebida é uma prestação pecuniária imposta pelas Entidades Públicas (recetor) àqueles que dão origem ao funcionamento de um serviço público ou a quem a prestação do serviço se dirige. Embora implique uma contrapartida, não existe, contudo, relação entre o valor cobrado e o custo suportado. São exemplos de taxas as cobradas por ocupação da via pública, loteamentos e obras e vistorias a habitações. * Para efeitos da ontologia consideram-se valores globais.</p>


        <p><em>fonte: definição adaptada do livro Finanças e Contabilidade Autárquica, CEFA, 2003</em>
        </p>
    </div>
    <div class="jumbotron" id="transfrec">
        <h1>Transferência Recebida</h1>
        <p class="lead">
            Uma transferência efetuada é uma verba, proveniente do Orçamento de Estado, que pode ser atribuída por uma entidade pública (pagador) a uma outra entidade pública (recetor), assente numa lógica redistributiva e que não inclui uma contraprestação direta.</p>


        <p><em>fonte: definição adaptada do Glossário da DGO, http://www.dgo.pt/execucaoorcamental/Documents/SEO_SinteseExecucaoOrcamentalMensal/GlossarioPT.pdf</em>
        </p>
    </div>
    <div class="jumbotron" id="despext">
        <h1>Despesa Extraordinária</h1>
        <p class="lead">
            Uma despesa extraordinária é uma despesa que, não estando prevista no decurso normal da atividade económica da entidade pública (pagador), assume um caráter extraordinário. Incluem-se aqui‏ as despesas relacionadas com horas extraordinárias, pagamento de prémios, multas, entre outros.
        </p>
    </div>
    <div class="jumbotron" id="indem">
        <h1>Indemnização</h1>
        <p class="lead">
            Indemnização – Compensação atribuída por uma entidade pública (indemnizador) a uma outra entidade pública, privada ou indivíduo (indemnizado) por perda ou dano causado.</p>


        <p><em>fonte: adaptada do Dicionário Priberam, http-//www.priberam.pt/dlpo/indemniza%C3%A7%C3%B5es</em>
        </p>
    </div>
    <div class="jumbotron" id="sub">
        <h1>Subsídios</h1>
        <p class="lead">
            Um subsídio recebido é uma forma de apoio monetário, sem contrapartida direta, atribuído por uma entidade pública (pagador) a uma outra entidade pública, privada ou a um indivíduo (apoiado),que é geralmente utilizado para um fim específico.</p>


        <p><em>fonte: definição adaptada do Glossário da DGO, http://www.dgo.pt/execucaoorcamental/Documents/SEO_SinteseExecucaoOrcamentalMensal/GlossarioPT.pdf; dicionário Priberam, http://www.priberam.pt/dlpo/SUBSIDIO ; Decreto-Lei n.º 167/200</em>
        </p>
    </div>
    <div class="jumbotron" id="transf">
        <h1>Tranferência</h1>
        <p class="lead">
            Uma transferência efetuada é uma verba, proveniente do Orçamento de Estado, que pode ser atribuída por uma entidade pública (pagador) a uma outra entidade pública (recetor), assente numa lógica redistributiva e que não inclui uma contraprestação direta.</p>


        <p><em>fonte: definição adaptada do Glossário da DGO, http://www.dgo.pt/execucaoorcamental/Documents/SEO_SinteseExecucaoOrcamentalMensal/GlossarioPT.pdf</em>
        </p>
    </div>
    <div class="jumbotron" id="divforn">
        <h1>Dívida Fornecedores</h1>
        <p class="lead">
            Uma dívida ao fornecedor é o montante em débito de uma Entidade Pública (devedor) para com os seus fornecedores de bens ou serviços, entidades privadas ou indivíduos (credor), resultante de uma transação inicial, em geral, de uma compra.
        </p>
    </div>
    <div class="jumbotron" id="emprestimo">
        <h1>Empréstimos</h1>
        <p class="lead">
            Um empréstimo é o ato pelo qual se regula o acordo estabelecido entre uma entidade pública ou uma entidade privada, que concede o empréstimo (mutuante) e uma entidade pública que o recebe (mutuário) relativo a um financiamento, e onde se especificam todas as suas condições (montante, taxas de juro, etc)</p>


        <p><em>fonte: adaptada da definição do Glossário do Banco de Portugal</em>
        </p>
    </div>
    <div class="jumbotron" id="aquis">
        <h1>Aquisição</h1>
        <p class="lead">
            Um empréstimo obtido é o ato pelo qual se regula o acordo estabelecido entre uma entidade pública ou uma entidade privada, que concede o empréstimo (mutuante) e uma entidade pública que o recebe (mutuário) relativo a um financiamento, e onde se especificam todas as suas condições (montante, taxas de juro, etc)</p>

        <p><em>fonte: adaptada da definição do Glossário do Banco de Portugal</em>
        </p>
    </div>
    <div class="jumbotron" id="arrend">
        <h1>Arrendamento</h1>
        <p class="lead">
            Arrendamento é o ato celebrado entre uma entidades, através do qual um bem imóvel passa a poder ser por ela utilizado e devendo constar expressamente no contrato que o imóvel se destina à instalação e funcionamento de serviços públicos.</p>


        <p><em>fonte: definição adaptada do Dicionário Priberam, http://www.priberam.pt/dlpo/arrendamento ; de DL 280/2007, art. 42.º e art. 31.º, http://www.sadmin.uac.pt/uploads/uac_documento_plugin/ficheiro/16fbb9585843aade54759310978add8460f2ccbc.pdf</em>
        </p>
    </div>
    <div class="jumbotron" id="ced">
        <h1>Cedência</h1>
        <p class="lead">
            Uma cedência de património é o ato através do qual uma Entidade Pública (cedente) transfere a propriedade de um bem público, a título precário, para utilização por outra Entidade Pública (cessionário) para fins de interesse público. Uma das formas de cedência de imóveis e terrenos é a concessão.</p>


        <p><em>fonte: definição adaptada de DL 280/2007, art. 23.º e 52.º, http://www.sadmin.uac.pt/uploads/uac_documento_plugin/ficheiro/16fbb9585843aade54759310978add8460f2ccbc.pdf</em>
        </p>
    </div>
    <div class="jumbotron" id="exp">
        <h1>Expropriação</h1>
        <p class="lead">
            Uma expropriação é o processo pelo qual a entidade pública, para assegurar um fim de interesse público, extingue os direitos dos seus titulares (entidade privada ou indivíduo – expropriado) sobre um dado bem imóvel e transfere esse bem para o património da pessoa coletiva pública ou privada, mediante pagamento de prévia e justa indemnização.</p>


        <p><em>fonte: definição adaptada do Anexo ao Código das Expropriações, Lei n.º 168/99, artigo 1.º, http://dre.pt/cgi/dr1s.exe?t=dr&cap=1-1200&doc=19993200%20&v02=&v01=2&v03=1900-01-01&v04=3000-12-21&v05=&v06=&v07=&v08=&v09=&v10=&v11=Lei&v12=168/99&v13=&v14=&v15=&sort=0&submit=Pesquisar; Dicionário Jurídico da Administração Pública

            fonte: http://dbpedia.org/page/Expropriation</em>
        </p>
    </div>
    <div class="jumbotron" id="perm">
        <h1>Permuta</h1>
        <p class="lead">
            Uma permuta de património é toda e qualquer operação que envolva a troca entre uma entidade pública (permutante) e uma outra entidade pública / privada/ indivíduo (permutante) de um imóvel/terreno por outro, devendo os imóveis a adquirir revestir especial interesse para a Entidade Pública e o valor de avaliação dos imóveis a adquirir ou o declarado, no caso de bens futuros, não exceda em 50% o valor dos imóveis dados em permuta.</p>


        <p><em>fonte: definição adaptada de DL 280/2007, art. 107.º, http://www.sadmin.uac.pt/uploads/uac_documento_plugin/ficheiro/16fbb9585843aade54759310978add8460f2ccbc.pdf</em>
        </p>
    </div>
    <div class="jumbotron" id="vend">
        <h1>Venda</h1>
        <p class="lead">
            Uma venda de património é o ato pelo qual uma entidade pública (vendedor) cede, mediante um preço, bens imóveis (terrenos ou edifícios) a uma outra entidade pública, privada ou indivíduo (comprador).</p>


        <p><em>fonte: definição adaptada do Dicionário Priberam, http://www.priberam.pt/dlpo/VENDA</em>
        </p>
    </div>
    <div class="jumbotron" id="empreitada">
        <h1>Empreitada/Obra</h1>
        <p class="lead">
            Uma empreitada/obra é a construção ou reparação de um edifício o infraestrutura.
        </p>
    </div>
    <div class="jumbotron" id="judinst">
        <h1>Litígio Judicial Instaurado</h1>
        <p class="lead">
            Um litígio judicial (instaurado) é uma ação que é entregue em tribunal, que pode ser interposta por uma entidade pública (acusador) a uma outra entidade pública, privada ou indivíduo (réu).</p>


        <p><em>fonte: adaptada de Dicionário Priberam, http://www.priberam.pt/dlpo/lit%C3%ADgios</em>
        </p>
    </div>
    <div class="jumbotron" id="judalvo">
        <h1>Alvo de Litígio Judícial</h1>
        <p class="lead">
            Um litígio judicial (alvo de) é uma ação que é entregue em tribunal, que pode ser interposta por uma entidade pública, privada ou indivíduo (acusador) a uma outra entidade pública (réu).</p>


        <p><em>fonte: adaptada de Dicionário Priberam, http://www.priberam.pt/dlpo/lit%C3%ADgios</em>
        </p>
    </div>
</div>

<script>
    $( document ).ready(function() {
        $("footer").remove();

        $('html, body').animate({
            scrollTop: $(<%= elementid%>).offset().top
        }, 2000);

    });

</script>