<div class="container-fluid entidade">
    <div class="panel panel-default col-md-12">
        <div class="jumbotron" id="avenca">
            <h1>Avença</h1>
            <p class="lead">
                Lorem ipsum dolor sit amet, vide dolorem ut ius. Id nam appareat insolens legendos! Placerat liberavisse intellegebat ex his, legere diceret sed no, ut dico novum convenire eam. Vel ut audiam ocurreret.

                Quo ad dicit invenire, accusam appetere deserunt ad vix? Ea ocurreret consequat referrentur cum, stet mundi accommodare qui at. Etiam propriae no vel. Velit accusamus est et, eam unum phaedrum ut!
            </p>
        </div>

        <div class="jumbotron" id="bommovel">
            <h1>Bem móvel</h1>
            <p class="lead">
                Lorem ipsum dolor sit amet, vide dolorem ut ius. Id nam appareat insolens legendos! Placerat liberavisse intellegebat ex his, legere diceret sed no, ut dico novum convenire eam. Vel ut audiam ocurreret.

                Quo ad dicit invenire, accusam appetere deserunt ad vix? Ea ocurreret consequat referrentur cum, stet mundi accommodare qui at. Etiam propriae no vel. Velit accusamus est et, eam unum phaedrum ut!
            </p>
        </div>

        <div class="jumbotron" id="empreitada">
            <h1>Empreitada</h1>
            <p class="lead">
                Lorem ipsum dolor sit amet, vide dolorem ut ius. Id nam appareat insolens legendos! Placerat liberavisse intellegebat ex his, legere diceret sed no, ut dico novum convenire eam. Vel ut audiam ocurreret.

                Quo ad dicit invenire, accusam appetere deserunt ad vix? Ea ocurreret consequat referrentur cum, stet mundi accommodare qui at. Etiam propriae no vel. Velit accusamus est et, eam unum phaedrum ut!
            </p>
        </div>

        <div class="jumbotron" id="servico">
            <h1>Serviço</h1>
            <p class="lead">
                Lorem ipsum dolor sit amet, vide dolorem ut ius. Id nam appareat insolens legendos! Placerat liberavisse intellegebat ex his, legere diceret sed no, ut dico novum convenire eam. Vel ut audiam ocurreret.

                Quo ad dicit invenire, accusam appetere deserunt ad vix? Ea ocurreret consequat referrentur cum, stet mundi accommodare qui at. Etiam propriae no vel. Velit accusamus est et, eam unum phaedrum ut!
            </p>
        </div>
    </div>
</div>

<script>
    $( document ).ready(function() {
        $("footer").remove();

        $('html, body').animate({
            scrollTop: $(<%= elementid%>).offset().top
        }, 2000);

    });

</script>