<div class="container-fluid entidade">

    <div class="jumbotron" id="avenca">
        <h1>Avença</h1>
        <p class="lead">
            Uma avença é uma modalidade de contrato de prestação de serviços entre uma entidade (contratante) e um indivíduo (avençado), que tem como objeto prestações sucessivas no exercício de profissão liberal, com retribuição certa mensal, podendo cessar em qualquer altura, por qualquer das partes.</p>

        <p><em>fonte: definição adaptada de da Lei 12A-2008, artigo 35.º, âmbito dos contratos de prestação de serviços, http://dre.pt/pdf1s/2008/02/04101/0000200027.pdf</em>
        </p>
    </div>

    <div class="jumbotron" id="bemovel">
        <h1>Bem móvel</h1>
        <p class="lead">
            Um contrato de aquisição de um bem móvel é o ato pelo qual uma entidade pública (comprador) adquire um bem móvel a uma outra entidade pública / privada ou indivíduo (vendedor).<p>

        <p><em>fonte: adaptada do Código dos Contratos Públicos, art. 437.º e de http://www.igf.min-financas.pt/leggeraldocs/DL_018_2008_CODIGO_CONTRATOS_PUB_INDICE.htm</em>
        </p>
    </div>

    <div class="jumbotron" id="cont_empreitada">
        <h1>Empreitada</h1>
        <p class="lead">
            Um contrato de empreitada é um ato oneroso que se estabelece entre uma entidade pública (adjudicante) e uma entidade privada (adjudicatária) e que tenha por objeto quer a execução quer, conjuntamente, a conceção e a execução de uma obra pública que se enquadre nas subcategorias previstas no regime de ingresso e permanência na atividade da construção.


        <p><em>fonte: adaptada do Código dos Contratos Públicos, art. 343.º e de http://www.igf.min-financas.pt/leggeraldocs/DL_018_2008_CODIGO_CONTRATOS_PUB_INDICE.htm</em>
        </p>
    </div>

    <div class="jumbotron" id="servico">
        <h1>Serviço</h1>
        <p class="lead">
            Uma contratação de serviço é o ato pelo qual uma entidade pública (adjudicante) adquire a prestação de um ou vários tipos de serviços a outra Entidade Pública/ Entidade Privada / indivíduo (adjudicatário) mediante o pagamento de um preço.


            fonte: adaptada do Código dos Contratos Públicos, artigo 450º e de http://www.igf.min-financas.pt/leggeraldocs/DL_018_2008_CODIGO_CONTRATOS_PUB_INDICE.htm
        </p>
    </div>

    <!----------->

    <div class="jumbotron" id="bemmovel">
        <h1>Bem Móvel</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, vide dolorem ut ius. Id nam appareat insolens legendos! Placerat liberavisse intellegebat ex his, legere diceret sed no, ut dico novum convenire eam. Vel ut audiam ocurreret.

            Quo ad dicit invenire, accusam appetere deserunt ad vix? Ea ocurreret consequat referrentur cum, stet mundi accommodare qui at. Etiam propriae no vel. Velit accusamus est et, eam unum phaedrum ut!
        </p>
    </div>
    <div class="jumbotron" id="ppp">
        <h1>PPP</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, vide dolorem ut ius. Id nam appareat insolens legendos! Placerat liberavisse intellegebat ex his, legere diceret sed no, ut dico novum convenire eam. Vel ut audiam ocurreret.

            Quo ad dicit invenire, accusam appetere deserunt ad vix? Ea ocurreret consequat referrentur cum, stet mundi accommodare qui at. Etiam propriae no vel. Velit accusamus est et, eam unum phaedrum ut!
        </p>
    </div>
    <div class="jumbotron" id="partsoc">
        <h1>Participação Social</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, vide dolorem ut ius. Id nam appareat insolens legendos! Placerat liberavisse intellegebat ex his, legere diceret sed no, ut dico novum convenire eam. Vel ut audiam ocurreret.

            Quo ad dicit invenire, accusam appetere deserunt ad vix? Ea ocurreret consequat referrentur cum, stet mundi accommodare qui at. Etiam propriae no vel. Velit accusamus est et, eam unum phaedrum ut!
        </p>
    </div>
    <div class="jumbotron" id="imposto">
        <h1>Imposto</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, vide dolorem ut ius. Id nam appareat insolens legendos! Placerat liberavisse intellegebat ex his, legere diceret sed no, ut dico novum convenire eam. Vel ut audiam ocurreret.

            Quo ad dicit invenire, accusam appetere deserunt ad vix? Ea ocurreret consequat referrentur cum, stet mundi accommodare qui at. Etiam propriae no vel. Velit accusamus est et, eam unum phaedrum ut!
        </p>
    </div>
    <div class="jumbotron" id="subsidiorec">
        <h1>Subsídio Recebido</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, vide dolorem ut ius. Id nam appareat insolens legendos! Placerat liberavisse intellegebat ex his, legere diceret sed no, ut dico novum convenire eam. Vel ut audiam ocurreret.

            Quo ad dicit invenire, accusam appetere deserunt ad vix? Ea ocurreret consequat referrentur cum, stet mundi accommodare qui at. Etiam propriae no vel. Velit accusamus est et, eam unum phaedrum ut!
        </p>
    </div>
    <div class="jumbotron" id="tarifa">
        <h1>Tarifa</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, vide dolorem ut ius. Id nam appareat insolens legendos! Placerat liberavisse intellegebat ex his, legere diceret sed no, ut dico novum convenire eam. Vel ut audiam ocurreret.

            Quo ad dicit invenire, accusam appetere deserunt ad vix? Ea ocurreret consequat referrentur cum, stet mundi accommodare qui at. Etiam propriae no vel. Velit accusamus est et, eam unum phaedrum ut!
        </p>
    </div>
    <div class="jumbotron" id="taxa">
        <h1>Taxa</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, vide dolorem ut ius. Id nam appareat insolens legendos! Placerat liberavisse intellegebat ex his, legere diceret sed no, ut dico novum convenire eam. Vel ut audiam ocurreret.

            Quo ad dicit invenire, accusam appetere deserunt ad vix? Ea ocurreret consequat referrentur cum, stet mundi accommodare qui at. Etiam propriae no vel. Velit accusamus est et, eam unum phaedrum ut!
        </p>
    </div>
    <div class="jumbotron" id="transfrec">
        <h1>Transferência Recebida</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, vide dolorem ut ius. Id nam appareat insolens legendos! Placerat liberavisse intellegebat ex his, legere diceret sed no, ut dico novum convenire eam. Vel ut audiam ocurreret.

            Quo ad dicit invenire, accusam appetere deserunt ad vix? Ea ocurreret consequat referrentur cum, stet mundi accommodare qui at. Etiam propriae no vel. Velit accusamus est et, eam unum phaedrum ut!
        </p>
    </div>
    <div class="jumbotron" id="despext">
        <h1>Despesa Extraordinária</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, vide dolorem ut ius. Id nam appareat insolens legendos! Placerat liberavisse intellegebat ex his, legere diceret sed no, ut dico novum convenire eam. Vel ut audiam ocurreret.

            Quo ad dicit invenire, accusam appetere deserunt ad vix? Ea ocurreret consequat referrentur cum, stet mundi accommodare qui at. Etiam propriae no vel. Velit accusamus est et, eam unum phaedrum ut!
        </p>
    </div>
    <div class="jumbotron" id="indem">
        <h1>Indemnização</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, vide dolorem ut ius. Id nam appareat insolens legendos! Placerat liberavisse intellegebat ex his, legere diceret sed no, ut dico novum convenire eam. Vel ut audiam ocurreret.

            Quo ad dicit invenire, accusam appetere deserunt ad vix? Ea ocurreret consequat referrentur cum, stet mundi accommodare qui at. Etiam propriae no vel. Velit accusamus est et, eam unum phaedrum ut!
        </p>
    </div>
    <div class="jumbotron" id="sub">
        <h1>Subsídios</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, vide dolorem ut ius. Id nam appareat insolens legendos! Placerat liberavisse intellegebat ex his, legere diceret sed no, ut dico novum convenire eam. Vel ut audiam ocurreret.

            Quo ad dicit invenire, accusam appetere deserunt ad vix? Ea ocurreret consequat referrentur cum, stet mundi accommodare qui at. Etiam propriae no vel. Velit accusamus est et, eam unum phaedrum ut!
        </p>
    </div>
    <div class="jumbotron" id="transf">
        <h1>Tranferência</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, vide dolorem ut ius. Id nam appareat insolens legendos! Placerat liberavisse intellegebat ex his, legere diceret sed no, ut dico novum convenire eam. Vel ut audiam ocurreret.

            Quo ad dicit invenire, accusam appetere deserunt ad vix? Ea ocurreret consequat referrentur cum, stet mundi accommodare qui at. Etiam propriae no vel. Velit accusamus est et, eam unum phaedrum ut!
        </p>
    </div>
    <div class="jumbotron" id="divforn">
        <h1>Dívida Fornecedores</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, vide dolorem ut ius. Id nam appareat insolens legendos! Placerat liberavisse intellegebat ex his, legere diceret sed no, ut dico novum convenire eam. Vel ut audiam ocurreret.

            Quo ad dicit invenire, accusam appetere deserunt ad vix? Ea ocurreret consequat referrentur cum, stet mundi accommodare qui at. Etiam propriae no vel. Velit accusamus est et, eam unum phaedrum ut!
        </p>
    </div>
    <div class="jumbotron" id="emprestimo">
        <h1>Empréstimos</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, vide dolorem ut ius. Id nam appareat insolens legendos! Placerat liberavisse intellegebat ex his, legere diceret sed no, ut dico novum convenire eam. Vel ut audiam ocurreret.

            Quo ad dicit invenire, accusam appetere deserunt ad vix? Ea ocurreret consequat referrentur cum, stet mundi accommodare qui at. Etiam propriae no vel. Velit accusamus est et, eam unum phaedrum ut!
        </p>
    </div>
    <div class="jumbotron" id="aquis">
        <h1>Aquisição</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, vide dolorem ut ius. Id nam appareat insolens legendos! Placerat liberavisse intellegebat ex his, legere diceret sed no, ut dico novum convenire eam. Vel ut audiam ocurreret.

            Quo ad dicit invenire, accusam appetere deserunt ad vix? Ea ocurreret consequat referrentur cum, stet mundi accommodare qui at. Etiam propriae no vel. Velit accusamus est et, eam unum phaedrum ut!
        </p>
    </div>
    <div class="jumbotron" id="arrend">
        <h1>Arrendamento</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, vide dolorem ut ius. Id nam appareat insolens legendos! Placerat liberavisse intellegebat ex his, legere diceret sed no, ut dico novum convenire eam. Vel ut audiam ocurreret.

            Quo ad dicit invenire, accusam appetere deserunt ad vix? Ea ocurreret consequat referrentur cum, stet mundi accommodare qui at. Etiam propriae no vel. Velit accusamus est et, eam unum phaedrum ut!
        </p>
    </div>
    <div class="jumbotron" id="ced">
        <h1>Cedência</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, vide dolorem ut ius. Id nam appareat insolens legendos! Placerat liberavisse intellegebat ex his, legere diceret sed no, ut dico novum convenire eam. Vel ut audiam ocurreret.

            Quo ad dicit invenire, accusam appetere deserunt ad vix? Ea ocurreret consequat referrentur cum, stet mundi accommodare qui at. Etiam propriae no vel. Velit accusamus est et, eam unum phaedrum ut!
        </p>
    </div>
    <div class="jumbotron" id="exp">
        <h1>Expropriação</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, vide dolorem ut ius. Id nam appareat insolens legendos! Placerat liberavisse intellegebat ex his, legere diceret sed no, ut dico novum convenire eam. Vel ut audiam ocurreret.

            Quo ad dicit invenire, accusam appetere deserunt ad vix? Ea ocurreret consequat referrentur cum, stet mundi accommodare qui at. Etiam propriae no vel. Velit accusamus est et, eam unum phaedrum ut!
        </p>
    </div>
    <div class="jumbotron" id="perm">
        <h1>Permuta</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, vide dolorem ut ius. Id nam appareat insolens legendos! Placerat liberavisse intellegebat ex his, legere diceret sed no, ut dico novum convenire eam. Vel ut audiam ocurreret.

            Quo ad dicit invenire, accusam appetere deserunt ad vix? Ea ocurreret consequat referrentur cum, stet mundi accommodare qui at. Etiam propriae no vel. Velit accusamus est et, eam unum phaedrum ut!
        </p>
    </div>
    <div class="jumbotron" id="vend">
        <h1>Venda</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, vide dolorem ut ius. Id nam appareat insolens legendos! Placerat liberavisse intellegebat ex his, legere diceret sed no, ut dico novum convenire eam. Vel ut audiam ocurreret.

            Quo ad dicit invenire, accusam appetere deserunt ad vix? Ea ocurreret consequat referrentur cum, stet mundi accommodare qui at. Etiam propriae no vel. Velit accusamus est et, eam unum phaedrum ut!
        </p>
    </div>
    <div class="jumbotron" id="empreitada">
        <h1>Empreitada/Obra</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, vide dolorem ut ius. Id nam appareat insolens legendos! Placerat liberavisse intellegebat ex his, legere diceret sed no, ut dico novum convenire eam. Vel ut audiam ocurreret.

            Quo ad dicit invenire, accusam appetere deserunt ad vix? Ea ocurreret consequat referrentur cum, stet mundi accommodare qui at. Etiam propriae no vel. Velit accusamus est et, eam unum phaedrum ut!
        </p>
    </div>
    <div class="jumbotron" id="judinst">
        <h1>Litígio Judicial Instaurado</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, vide dolorem ut ius. Id nam appareat insolens legendos! Placerat liberavisse intellegebat ex his, legere diceret sed no, ut dico novum convenire eam. Vel ut audiam ocurreret.

            Quo ad dicit invenire, accusam appetere deserunt ad vix? Ea ocurreret consequat referrentur cum, stet mundi accommodare qui at. Etiam propriae no vel. Velit accusamus est et, eam unum phaedrum ut!
        </p>
    </div>
    <div class="jumbotron" id="judalvo">
        <h1>Alvo de Litígio Judícial</h1>
        <p class="lead">
            Lorem ipsum dolor sit amet, vide dolorem ut ius. Id nam appareat insolens legendos! Placerat liberavisse intellegebat ex his, legere diceret sed no, ut dico novum convenire eam. Vel ut audiam ocurreret.

            Quo ad dicit invenire, accusam appetere deserunt ad vix? Ea ocurreret consequat referrentur cum, stet mundi accommodare qui at. Etiam propriae no vel. Velit accusamus est et, eam unum phaedrum ut!
        </p>
    </div>
</div>

<script>
    $( document ).ready(function() {
        $("footer").remove();

        $('html, body').animate({
            scrollTop: $(<%= elementid%>).offset().top
        }, 2000);

    });

</script>